version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "TuPasswordSegura123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - reserva-net

  backend:
    build:
      context: ./reserva-espacios-back
      dockerfile: Dockerfile
    container_name: backend
    depends_on:
      - sqlserver
      - kafka
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=ReservasDB;User Id=sa;Password=TuPasswordSegura123;
      - Kafka__BootstrapServers=kafka:9092
    ports:
      - "5000:80"
    networks:
      - reserva-net

  frontend:
    build:
      context: ./reserva-espacios-front
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - reserva-net

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    networks:
      - reserva-net

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    networks:
      - reserva-net

volumes:
  sql_data:

networks:
  reserva-net:
    driver: bridge
